.heading-title {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    margin: .5rem 0 2rem 0;

    @include respond(tab-land) {
        margin: 2rem 0 2rem 0;
    }
}

.heading-welcome-primary {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.paragraph {
    line-height: 1.6;
}