.player-winner {border: .3rem solid $color-secondary-light !important;}

.img-profile-home {
    width: 2.7rem !important;
    height: 2.7rem !important;

    @include respond(tab-port) {
        width: 2.3rem !important;
        height: 2.3rem !important;
    }
}

.padding-left-welcome {
    padding-left: 5rem !important;

    @include respond(tab-land) {
        padding-left: 0 !important;
    }
}

.padding-right-welcome {
    padding-right: 5rem !important;

    @include respond(tab-land) {
        padding-right: 0 !important;
    }
}