.section-dashboard {
    padding: 7.5rem 0;

    @include respond(tab-port) {
        padding: 5rem 0;
    }
}

.section-admin {
    padding: 7.5rem 0;
    background-color: $color-white;

    @include respond(tab-port) {
        padding: 5rem 0;
    }
}

.section-how-it-works {
    padding: 7.5rem 0;

    @include respond(tab-port) {
        padding: 5rem 0;
    }
}