.section-hero {
    height: 40vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../images/hero-desktop.jpg);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
            background-size: cover;
            background-position: center;
}